<!DOCTYPE html>
<html>
  <head>
    <% provide(:title, "About") %>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>

  <body>
    <h1>Aboutページ</h1>
    <p>Aboutページ</p>
  </body>
</html>
